---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<style>
  p {
    margin: 0;
  }
</style>
<BaseLayout>
  <div class='content-block'>
    <p class='muted'>404</p>
    <p>This page doesn't exist</p>
  </div>
</BaseLayout>
