---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<style>
  p {
    margin: 0;
  }
</style>
<BaseLayout>
  <div class='content-block'>
    <span class='muted'>error 404</span>
    <p>this page doesn't exist</p>
  </div>
</BaseLayout>
