---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import profilePicture from '../images/mathias.jpeg'
const pageTitle = 'About'
---

<BaseLayout title={pageTitle}>
  <div class='content-block'>
    <Image src={profilePicture} alt='Picture of me enjoying a beer' />
  </div>
  <div class='content-block'>
    <p class='muted'>About</p>
    <p>
      I'm Mathias—a creative enthusiast with a passion for graphic design and
      web development. From my early days immersed in crafting PowerPoint
      presentations of family members, to playing around with software like
      Photoshop, Inkscape, and Blender, I've honed my interest for design.
    </p>

    <p>
      At a later age I wanted to make more of my designs, so I ventured into
      coding to turn my design concepts into interactive experiences. Beyond the
      screen, I find joy in analog photography, savoring music, brewing the
      perfect cup of coffee, and cherishing moments with friends.
    </p>
  </div>
  <div class='content-block'>
    <p class='muted'>Things I enjoy</p>
    <ul>
      <li>My morning coffee</li>
      <li>Discovering new music</li>
      <li>Cereal... I love cereal</li>
      <li>Smiling at strangers</li>
      <li>Watching Formular 1</li>
      <li>Staying updated on latest tech</li>
      <li>Teenage engineering</li>
    </ul>
  </div>
  <div class='content-block'>
    <p class='muted'>Experience</p>
    <p>
      I earned my professional bachelor's degree in Web Development back in
      February 2021. Alongside my studies, I also ventured into freelance work,
      gaining valuable experience as a frontend developer. During my studies, I
      gained valuable experience through two internships—one at <a
        class='underline'
        href='https://nuuday.dk/'>Nuuday</a
      > and the other at <a class='underline' href='https://topdanmark.dk/'
        >Topdanmark</a
      >, where I’m now working fulltime as a frontend developer.
    </p>
  </div>
</BaseLayout>
