---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import profilePicture from '../images/mathias-min.jpeg'
const pageTitle = 'About'
---

<BaseLayout title={pageTitle}>
  <div class='content-block'>
    <Image src={profilePicture} alt='Picture of me enjoying a beer' />
  </div>
  <div class='content-block'>
    <span class='muted'>About</span>
    <p>
      I'm Mathias—a creative enthusiast with a passion for graphic design and
      web development. From my early childhood days immersed in crafting
      PowerPoint presentations of family members, to playing around with
      software like Photoshop, Inkscape, and Blender during my teenage years,
      I've honed my interest for design.
    </p>

    <p>
      At a later age I wanted to make more of my designs, so I ventured into
      coding to turn my design concepts into interactive experiences. I
      specialize in utilizing tools like Figma, React, Astro, and various other
      frontend technologies to create engaging digital interfaces.
    </p>

    <p>
      Beyond the screen, I find joy in analog photography, savoring music,
      brewing the perfect cup of coffee, and cherishing moments with friends.
    </p>
  </div>
  <div class='content-block'>
    <span class='muted'>Things I enjoy</span>
    <ul>
      <li>My morning coffee</li>
      <li>Discovering new music</li>
      <li>Cereal... I love cereal</li>
      <li>Smiling at strangers</li>
      <li>Watching Formular 1</li>
      <li>Staying updated on latest tech</li>
      <li>
        <a target='_blank' class='underline' href='https://teenage.engineering/'
          >Teenage engineering</a
        >
      </li>
    </ul>
  </div>
  <div class='content-block'>
    <span class='muted'>Experience</span>
    <p>
      I earned my professional bachelor's degree in Web Development back in
      February 2021. Alongside my studies, I also ventured into freelance work,
      gaining valuable experience as a frontend developer. Additionally, I
      gained practical insights through two internships — one at <a
        class='underline'
        target='_blank'
        href='https://nuuday.dk/'>Nuuday</a
      > and another at <a
        class='underline'
        target='_blank'
        href='https://topdanmark.dk/'>Topdanmark</a
      >, which eventually led to my full-time role as a frontend developer.
    </p>
    <p>
      If you wan't to know more check out my <a
        class='underline'
        href='https://www.linkedin.com/in/mathiasjor/'
        target='_blank'>LinkedIn.</a
      >
    </p>
  </div>
</BaseLayout>
