---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Home'
---

<BaseLayout title={pageTitle}>
  <div class='content-block'>
    <p>Hi, I’m Mathias</p>
    <p>
      I’m a frontend developer based in Odense, Denmark. <br />Currently
      developing user-friendly self-service solutions at <a
        class='underline'
        target='_blank'
        href='https://topdanmark.dk'>Topdanmark</a
      >
    </p>
  </div>
</BaseLayout>
