---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Home'
---

<BaseLayout title={pageTitle}>
  <div class='content-block'>
    <span class='pill'> This is just a test, nothing else</span>
    <p>Hi, I’m Mathias</p>
    <p>
      I’m a frontend developer based in Odense, Denmark. <br />Currently
      developing user-friendly self-service solutions at <a
        class='underline'
        href='https://topdanmark.dk'>Topdanmark</a
      >.
    </p>
  </div>
</BaseLayout>
