---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Home'
---

<BaseLayout title={pageTitle}>
  <div class='content-block'>
    <p>Hi, I’m Mathias</p>
    <p>
      I’m a frontend developer based in Odense, Denmark. <br />Currently
      developing user-friendly self-service solutions at <a
        class='underline'
        href='https://topdanmark.dk'>Topdanmark</a
      >
    </p>
  </div>
  <div class='content-block'>
    <span class='muted'>Projects</span>
    <p>
      I'm currently working on showcasing my projects in a proper way. If you
      wan't to see some of my past work please reach out to me.
    </p>
  </div>
</BaseLayout>
